
body{
    height: 100vh;
}

#calculator{
    height: 6rem;
    width: fit-content;
}

#display{
    height: 4rem;
    width: inherit;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    height: 2rem;
    width: 2rem;
}